/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.nav-closed {
  content: "";
}

.nav-closed::before {
  content:          "";
  background-image: url("https://blamejared.com/svg/cheveron-right.svg");
  display:          inline-block;
  width:            14px;
  height:           14px;
  margin-top:       auto;
  margin-bottom:    auto;
}

.nav-closed-dark {
  content: "";
}

.nav-closed-dark::before {
  content:          "";
  background-image: url("https://blamejared.com/svg/dark/cheveron-right.svg");
  display:          inline-block;
  width:            14px;
  height:           14px;
  margin-top:       auto;
  margin-bottom:    auto;
}

.nav-open {
  content: "";
}

.nav-open::before {
  content:          "";
  background-image: url("https://blamejared.com/svg/cheveron-down.svg");
  display:          inline-block;
  width:            14px;
  height:           14px;
  margin-top:       auto;
  margin-bottom:    auto;
}

.nav-open-dark {
  content: "";
}

.nav-open-dark::before {
  content:          "";
  background-image: url("https://blamejared.com/svg/dark/cheveron-down.svg");
  display:          inline-block;
  width:            14px;
  height:           14px;
  margin-top:       auto;
  margin-bottom:    auto;
}

/* purgecss start ignore */
.markdown {
  @apply leading-relaxed text-base;
}

.markdown h1,
.markdown h2 {
  @apply text-4xl my-6 break-words;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-xl my-3 font-semibold break-words;
}

.markdown a:hover {
  @apply underline;
}

.markdown p {
  @apply mb-4;
}

.markdown pre {
  @apply mb-2 text-sm;
}

.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}

.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

.markdown blockquote {
  @apply p-0 p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.markdown blockquote > p {
  @apply mb-0;
}

.markdown p > code {
  @apply text-sm;
}

.simplebar-scrollbar::before {
  background-color: #3DA6E4 !important;
  border:           1px solid #1A6996 !important;
}

/* purgecss end ignore */

